In [1]:
import requests 
url = 'https://www.cbr-xml-daily.ru/daily_json.js'
response = requests.get(url)

In [2]:
print(response)

<Response [200]>

In [3]:
print(response.text)

{
    "Date": "2022-06-02T11:30:00+03:00",
    "PreviousDate": "2022-06-01T11:30:00+03:00",
    "PreviousURL": "\/\/www.cbr-xml-daily.ru\/archive\/2022\/06\/01\/daily_json.js",
    "Timestamp": "2022-06-01T20:00:00+03:00",
    "Valute": {
        "AUD": {
            "ID": "R01010",
            "NumCode": "036",
            "CharCode": "AUD",
            "Nominal": 1,
            "Name": "Австралийский доллар",
            "Value": 44.0641,
            "Previous": 44.2769
        },
        "AZN": {
            "ID": "R01020A",
            "NumCode": "944",
            "CharCode": "AZN",
            "Nominal": 1,
            "Name": "Азербайджанский манат",
            "Value": 36.1608,
            "Previous": 36.2394
        },
        "GBP": {
            "ID": "R01035",
            "NumCode": "826",
            "CharCode": "GBP",
            "Nominal": 1,
            "Name": "Фунт стерлингов Соединенного королевства",
            "Value": 77.4625,
            "Previous": 77.9204
        },
        "AMD": {
            "ID": "R01060",
            "NumCode": "051",
            "CharCode": "AMD",
            "Nominal": 100,
            "Name": "Армянских драмов",
            "Value": 13.7944,
            "Previous": 13.7518
        },
        "BYN": {
            "ID": "R01090B",
            "NumCode": "933",
            "CharCode": "BYN",
            "Nominal": 1,
            "Name": "Белорусский рубль",
            "Value": 23.8176,
            "Previous": 23.9111
        },
        "BGN": {
            "ID": "R01100",
            "NumCode": "975",
            "CharCode": "BGN",
            "Nominal": 1,
            "Name": "Болгарский лев",
            "Value": 33.6711,
            "Previous": 33.9058
        },
        "BRL": {
            "ID": "R01115",
            "NumCode": "986",
            "CharCode": "BRL",
            "Nominal": 1,
            "Name": "Бразильский реал",
            "Value": 13.0003,
            "Previous": 13.0487
        },
        "HUF": {
            "ID": "R01135",
            "NumCode": "348",
            "CharCode": "HUF",
            "Nominal": 100,
            "Name": "Венгерских форинтов",
            "Value": 16.5951,
            "Previous": 16.7725
        },
        "HKD": {
            "ID": "R01200",
            "NumCode": "344",
            "CharCode": "HKD",
            "Nominal": 10,
            "Name": "Гонконгских долларов",
            "Value": 78.4799,
            "Previous": 78.6505
        },
        "DKK": {
            "ID": "R01215",
            "NumCode": "208",
            "CharCode": "DKK",
            "Nominal": 10,
            "Name": "Датских крон",
            "Value": 88.5234,
            "Previous": 89.142
        },
        "USD": {
            "ID": "R01235",
            "NumCode": "840",
            "CharCode": "USD",
            "Nominal": 1,
            "Name": "Доллар США",
            "Value": 61.4733,
            "Previous": 61.6069
        },
        "EUR": {
            "ID": "R01239",
            "NumCode": "978",
            "CharCode": "EUR",
            "Nominal": 1,
            "Name": "Евро",
            "Value": 63.6629,
            "Previous": 62.7397
        },
        "INR": {
            "ID": "R01270",
            "NumCode": "356",
            "CharCode": "INR",
            "Nominal": 100,
            "Name": "Индийских рупий",
            "Value": 79.3064,
            "Previous": 79.3543
        },
        "KZT": {
            "ID": "R01335",
            "NumCode": "398",
            "CharCode": "KZT",
            "Nominal": 100,
            "Name": "Казахстанских тенге",
            "Value": 14.8246,
            "Previous": 14.4147
        },
        "CAD": {
            "ID": "R01350",
            "NumCode": "124",
            "CharCode": "CAD",
            "Nominal": 1,
            "Name": "Канадский доллар",
            "Value": 48.6032,
            "Previous": 48.655
        },
        "KGS": {
            "ID": "R01370",
            "NumCode": "417",
            "CharCode": "KGS",
            "Nominal": 100,
            "Name": "Киргизских сомов",
            "Value": 77.2785,
            "Previous": 75.582
        },
        "CNY": {
            "ID": "R01375",
            "NumCode": "156",
            "CharCode": "CNY",
            "Nominal": 10,
            "Name": "Китайских юаней",
            "Value": 93.7092,
            "Previous": 94.0696
        },
        "MDL": {
            "ID": "R01500",
            "NumCode": "498",
            "CharCode": "MDL",
            "Nominal": 10,
            "Name": "Молдавских леев",
            "Value": 32.2608,
            "Previous": 32.3052
        },
        "NOK": {
            "ID": "R01535",
            "NumCode": "578",
            "CharCode": "NOK",
            "Nominal": 10,
            "Name": "Норвежских крон",
            "Value": 65.2154,
            "Previous": 65.4912
        },
        "PLN": {
            "ID": "R01565",
            "NumCode": "985",
            "CharCode": "PLN",
            "Nominal": 1,
            "Name": "Польский злотый",
            "Value": 14.3525,
            "Previous": 14.4255
        },
        "RON": {
            "ID": "R01585F",
            "NumCode": "946",
            "CharCode": "RON",
            "Nominal": 1,
            "Name": "Румынский лей",
            "Value": 13.353,
            "Previous": 13.382
        },
        "XDR": {
            "ID": "R01589",
            "NumCode": "960",
            "CharCode": "XDR",
            "Nominal": 1,
            "Name": "СДР (специальные права заимствования)",
            "Value": 82.9705,
            "Previous": 83.1169
        },
        "SGD": {
            "ID": "R01625",
            "NumCode": "702",
            "CharCode": "SGD",
            "Nominal": 1,
            "Name": "Сингапурский доллар",
            "Value": 44.7893,
            "Previous": 44.9784
        },
        "TJS": {
            "ID": "R01670",
            "NumCode": "972",
            "CharCode": "TJS",
            "Nominal": 10,
            "Name": "Таджикских сомони",
            "Value": 53.9239,
            "Previous": 54.0411
        },
        "TRY": {
            "ID": "R01700J",
            "NumCode": "949",
            "CharCode": "TRY",
            "Nominal": 10,
            "Name": "Турецких лир",
            "Value": 37.4785,
            "Previous": 37.6317
        },
        "TMT": {
            "ID": "R01710A",
            "NumCode": "934",
            "CharCode": "TMT",
            "Nominal": 1,
            "Name": "Новый туркменский манат",
            "Value": 17.5638,
            "Previous": 17.602
        },
        "UZS": {
            "ID": "R01717",
            "NumCode": "860",
            "CharCode": "UZS",
            "Nominal": 10000,
            "Name": "Узбекских сумов",
            "Value": 55.9571,
            "Previous": 55.9509
        },
        "UAH": {
            "ID": "R01720",
            "NumCode": "980",
            "CharCode": "UAH",
            "Nominal": 10,
            "Name": "Украинских гривен",
            "Value": 20.733,
            "Previous": 20.778
        },
        "CZK": {
            "ID": "R01760",
            "NumCode": "203",
            "CharCode": "CZK",
            "Nominal": 10,
            "Name": "Чешских крон",
            "Value": 26.6464,
            "Previous": 26.8346
        },
        "SEK": {
            "ID": "R01770",
            "NumCode": "752",
            "CharCode": "SEK",
            "Nominal": 10,
            "Name": "Шведских крон",
            "Value": 62.8394,
            "Previous": 62.861
        },
        "CHF": {
            "ID": "R01775",
            "NumCode": "756",
            "CharCode": "CHF",
            "Nominal": 1,
            "Name": "Швейцарский франк",
            "Value": 63.9414,
            "Previous": 64.0937
        },
        "ZAR": {
            "ID": "R01810",
            "NumCode": "710",
            "CharCode": "ZAR",
            "Nominal": 10,
            "Name": "Южноафриканских рэндов",
            "Value": 39.5739,
            "Previous": 39.6301
        },
        "KRW": {
            "ID": "R01815",
            "NumCode": "410",
            "CharCode": "KRW",
            "Nominal": 1000,
            "Name": "Вон Республики Корея",
            "Value": 49.3429,
            "Previous": 49.793
        },
        "JPY": {
            "ID": "R01820",
            "NumCode": "392",
            "CharCode": "JPY",
            "Nominal": 100,
            "Name": "Японских иен",
            "Value": 47.6833,
            "Previous": 48.0553
        }
    }
}

In [4]:
from pprint import pprint 
currencies = response.json() 
pprint(currencies)

{'Date': '2022-06-02T11:30:00+03:00',
 'PreviousDate': '2022-06-01T11:30:00+03:00',
 'PreviousURL': '//www.cbr-xml-daily.ru/archive/2022/06/01/daily_json.js',
 'Timestamp': '2022-06-01T20:00:00+03:00',
 'Valute': {'AMD': {'CharCode': 'AMD',
                    'ID': 'R01060',
                    'Name': 'Армянских драмов',
                    'Nominal': 100,
                    'NumCode': '051',
                    'Previous': 13.7518,
                    'Value': 13.7944},
            'AUD': {'CharCode': 'AUD',
                    'ID': 'R01010',
                    'Name': 'Австралийский доллар',
                    'Nominal': 1,
                    'NumCode': '036',
                    'Previous': 44.2769,
                    'Value': 44.0641},
            'AZN': {'CharCode': 'AZN',
                    'ID': 'R01020A',
                    'Name': 'Азербайджанский манат',
                    'Nominal': 1,
                    'NumCode': '944',
                    'Previous': 36.2394,
                    'Value': 36.1608},
            'BGN': {'CharCode': 'BGN',
                    'ID': 'R01100',
                    'Name': 'Болгарский лев',
                    'Nominal': 1,
                    'NumCode': '975',
                    'Previous': 33.9058,
                    'Value': 33.6711},
            'BRL': {'CharCode': 'BRL',
                    'ID': 'R01115',
                    'Name': 'Бразильский реал',
                    'Nominal': 1,
                    'NumCode': '986',
                    'Previous': 13.0487,
                    'Value': 13.0003},
            'BYN': {'CharCode': 'BYN',
                    'ID': 'R01090B',
                    'Name': 'Белорусский рубль',
                    'Nominal': 1,
                    'NumCode': '933',
                    'Previous': 23.9111,
                    'Value': 23.8176},
            'CAD': {'CharCode': 'CAD',
                    'ID': 'R01350',
                    'Name': 'Канадский доллар',
                    'Nominal': 1,
                    'NumCode': '124',
                    'Previous': 48.655,
                    'Value': 48.6032},
            'CHF': {'CharCode': 'CHF',
                    'ID': 'R01775',
                    'Name': 'Швейцарский франк',
                    'Nominal': 1,
                    'NumCode': '756',
                    'Previous': 64.0937,
                    'Value': 63.9414},
            'CNY': {'CharCode': 'CNY',
                    'ID': 'R01375',
                    'Name': 'Китайских юаней',
                    'Nominal': 10,
                    'NumCode': '156',
                    'Previous': 94.0696,
                    'Value': 93.7092},
            'CZK': {'CharCode': 'CZK',
                    'ID': 'R01760',
                    'Name': 'Чешских крон',
                    'Nominal': 10,
                    'NumCode': '203',
                    'Previous': 26.8346,
                    'Value': 26.6464},
            'DKK': {'CharCode': 'DKK',
                    'ID': 'R01215',
                    'Name': 'Датских крон',
                    'Nominal': 10,
                    'NumCode': '208',
                    'Previous': 89.142,
                    'Value': 88.5234},
            'EUR': {'CharCode': 'EUR',
                    'ID': 'R01239',
                    'Name': 'Евро',
                    'Nominal': 1,
                    'NumCode': '978',
                    'Previous': 62.7397,
                    'Value': 63.6629},
            'GBP': {'CharCode': 'GBP',
                    'ID': 'R01035',
                    'Name': 'Фунт стерлингов Соединенного королевства',
                    'Nominal': 1,
                    'NumCode': '826',
                    'Previous': 77.9204,
                    'Value': 77.4625},
            'HKD': {'CharCode': 'HKD',
                    'ID': 'R01200',
                    'Name': 'Гонконгских долларов',
                    'Nominal': 10,
                    'NumCode': '344',
                    'Previous': 78.6505,
                    'Value': 78.4799},
            'HUF': {'CharCode': 'HUF',
                    'ID': 'R01135',
                    'Name': 'Венгерских форинтов',
                    'Nominal': 100,
                    'NumCode': '348',
                    'Previous': 16.7725,
                    'Value': 16.5951},
            'INR': {'CharCode': 'INR',
                    'ID': 'R01270',
                    'Name': 'Индийских рупий',
                    'Nominal': 100,
                    'NumCode': '356',
                    'Previous': 79.3543,
                    'Value': 79.3064},
            'JPY': {'CharCode': 'JPY',
                    'ID': 'R01820',
                    'Name': 'Японских иен',
                    'Nominal': 100,
                    'NumCode': '392',
                    'Previous': 48.0553,
                    'Value': 47.6833},
            'KGS': {'CharCode': 'KGS',
                    'ID': 'R01370',
                    'Name': 'Киргизских сомов',
                    'Nominal': 100,
                    'NumCode': '417',
                    'Previous': 75.582,
                    'Value': 77.2785},
            'KRW': {'CharCode': 'KRW',
                    'ID': 'R01815',
                    'Name': 'Вон Республики Корея',
                    'Nominal': 1000,
                    'NumCode': '410',
                    'Previous': 49.793,
                    'Value': 49.3429},
            'KZT': {'CharCode': 'KZT',
                    'ID': 'R01335',
                    'Name': 'Казахстанских тенге',
                    'Nominal': 100,
                    'NumCode': '398',
                    'Previous': 14.4147,
                    'Value': 14.8246},
            'MDL': {'CharCode': 'MDL',
                    'ID': 'R01500',
                    'Name': 'Молдавских леев',
                    'Nominal': 10,
                    'NumCode': '498',
                    'Previous': 32.3052,
                    'Value': 32.2608},
            'NOK': {'CharCode': 'NOK',
                    'ID': 'R01535',
                    'Name': 'Норвежских крон',
                    'Nominal': 10,
                    'NumCode': '578',
                    'Previous': 65.4912,
                    'Value': 65.2154},
            'PLN': {'CharCode': 'PLN',
                    'ID': 'R01565',
                    'Name': 'Польский злотый',
                    'Nominal': 1,
                    'NumCode': '985',
                    'Previous': 14.4255,
                    'Value': 14.3525},
            'RON': {'CharCode': 'RON',
                    'ID': 'R01585F',
                    'Name': 'Румынский лей',
                    'Nominal': 1,
                    'NumCode': '946',
                    'Previous': 13.382,
                    'Value': 13.353},
            'SEK': {'CharCode': 'SEK',
                    'ID': 'R01770',
                    'Name': 'Шведских крон',
                    'Nominal': 10,
                    'NumCode': '752',
                    'Previous': 62.861,
                    'Value': 62.8394},
            'SGD': {'CharCode': 'SGD',
                    'ID': 'R01625',
                    'Name': 'Сингапурский доллар',
                    'Nominal': 1,
                    'NumCode': '702',
                    'Previous': 44.9784,
                    'Value': 44.7893},
            'TJS': {'CharCode': 'TJS',
                    'ID': 'R01670',
                    'Name': 'Таджикских сомони',
                    'Nominal': 10,
                    'NumCode': '972',
                    'Previous': 54.0411,
                    'Value': 53.9239},
            'TMT': {'CharCode': 'TMT',
                    'ID': 'R01710A',
                    'Name': 'Новый туркменский манат',
                    'Nominal': 1,
                    'NumCode': '934',
                    'Previous': 17.602,
                    'Value': 17.5638},
            'TRY': {'CharCode': 'TRY',
                    'ID': 'R01700J',
                    'Name': 'Турецких лир',
                    'Nominal': 10,
                    'NumCode': '949',
                    'Previous': 37.6317,
                    'Value': 37.4785},
            'UAH': {'CharCode': 'UAH',
                    'ID': 'R01720',
                    'Name': 'Украинских гривен',
                    'Nominal': 10,
                    'NumCode': '980',
                    'Previous': 20.778,
                    'Value': 20.733},
            'USD': {'CharCode': 'USD',
                    'ID': 'R01235',
                    'Name': 'Доллар США',
                    'Nominal': 1,
                    'NumCode': '840',
                    'Previous': 61.6069,
                    'Value': 61.4733},
            'UZS': {'CharCode': 'UZS',
                    'ID': 'R01717',
                    'Name': 'Узбекских сумов',
                    'Nominal': 10000,
                    'NumCode': '860',
                    'Previous': 55.9509,
                    'Value': 55.9571},
            'XDR': {'CharCode': 'XDR',
                    'ID': 'R01589',
                    'Name': 'СДР (специальные права заимствования)',
                    'Nominal': 1,
                    'NumCode': '960',
                    'Previous': 83.1169,
                    'Value': 82.9705},
            'ZAR': {'CharCode': 'ZAR',
                    'ID': 'R01810',
                    'Name': 'Южноафриканских рэндов',
                    'Nominal': 10,
                    'NumCode': '710',
                    'Previous': 39.6301,
                    'Value': 39.5739}}}

In [5]:
pprint(currencies['Valute']['EUR'])

{'CharCode': 'EUR',
 'ID': 'R01239',
 'Name': 'Евро',
 'Nominal': 1,
 'NumCode': '978',
 'Previous': 62.7397,
 'Value': 63.6629}

In [6]:
print(currencies['Valute']['CZK']['Name'])

Чешских крон

In [8]:
from bs4 import BeautifulSoup
def wiki_header(link):
    response = requests.get(link)
    page = BeautifulSoup(response.text, 'html.parser')
    return page.find('h1').text

print(wiki_header('https://en.wikipedia.org/wiki/Operating_system'))

Operating system

In [21]:
token = '79dc43f279dc43f279dc43f20779a09f50779dc79dc43f21b4b84096ae9e834953f86d9' # Указываем свой сервисный токен
url = 'https://api.vk.com/method/users.get' # Указываем адрес страницы к которой делаем запрос
ids = ",".join(map(str, range(1, 501)))
params = {'user_id': ids, 'v': 5.95, 'fields': 'sex', 'access_token': token, 'lang': 'ru'} # Перечисляем параметры нашего запроса в словаре params
response = requests.get(url, params=params).json() # Отправляем запрос
#pprint(response)
count_woman = 0
count_man = 0

for user in response['response']:
    #pprint(user)
    if user['sex'] == 1:
        count_woman += 1
    if user['sex'] == 2:
        count_man += 1

print(round(count_woman/(count_woman + count_man), 2))

0.49

In [27]:
def apply_discounts(products, stocks):
    """
    Напишите функцию apply_discounts(), которая снижает цену продуктов в словаре products на указанный в словаре stocks процент. 
    Функция должна вернуть результирующий словарь, ключи которого — товары, а значения — новые цены.
    Если продукта из словаря stocks нет в словаре products, то его необходимо пропустить. Цены округлите до второго знака после запятой.
    """
    for product in stocks:
        if product in products.keys():
            discount = int(stocks[product].replace('%', ''))
            products[product] = round(products[product] * (100 - discount) / 100, 2)
    return products
    
if __name__ == '__main__':
    products={
        "Oranges (packaged)": 114.99, 
        "Candy (Rotfront)": 280.00,
        "Boiled sausage": 199.99,
        "Juice J7 (orange)": 119.99,
        "Trout (Seven Seas)": 399.99
        }
    stocks = {
        "Boiled sausage": "33%",
        "Juice J7 (orange)": "12%",
        "Trout (Seven Seas)": "18%"
    }
    new_products = apply_discounts(products, stocks)
    print(new_products)

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [28]:
import pandas as pd
df_bronze = pd.read_csv('bronze_top.csv')
df_silver = pd.read_csv('silver_top.csv')

In [29]:
df_bronze.head()

          Country   Total
0   United States  1052.0
1    Soviet Union   584.0
2  United Kingdom   505.0
3          France   475.0
4         Germany   454.0

In [30]:
df_silver.head()

          Country   Total
0   United States  1195.0
1    Soviet Union   627.0
2  United Kingdom   591.0
3          France   461.0
4           Italy   394.0

In [32]:
merged = df_silver.merge(df_bronze, how='inner', on='Country', suffixes=('_silver', '_bronze'))
merged.head()

          Country  Total_silver  Total_bronze
0   United States        1195.0        1052.0
1    Soviet Union         627.0         584.0
2  United Kingdom         591.0         505.0
3          France         461.0         475.0